@import "tailwindcss";

.home-hero-section {
  background-image: url("/images/vector2.png");
  background-color: #E4EEF480;
}
.home-img-height {
  height: 528px !important;
  width: 667px !important;
}

.theme-text{
  color: #115D8E;
}
.container{
  padding-left: 156px;
  padding-right: 156px;
}
.heading{
  font-size: 48px;
}

@media (max-width: 1085px) {
  .banner-overlaid-img {
    display: none;
  }
}

@media (max-width: 1056px) {
  .banner-overlaid-img {
    height: 300px;
    width: 100px;
   }
  }





